class Config:
    class Relay:
        Hostname = ''
        Password = ''
        Port = 0
        UseSSL = False

    class Slack:
        # https://api.slack.com/custom-integrations/legacy-tokens
        Token = ''

    # Optional gcf-upload config (used for uploading files)
    # see: https://github.com/luk1337/gcf-upload
    class GcfUpload:
        URL = ''
        ApiKey = ''

    class Global:
        # IRC -> Slack channel mapping
        # BTW slack does not have '#' before channel names
        Channels = {
            'irc.freenode.#lineageos': 'lineageos',
            'irc.freenode.#lineageos-dev': 'lineageos-dev',
        }

        # IRC -> Slack private messages mapping
        PrivMsgs = {
            'irc.freenode.': '_freenode_dm_',
        }
