class Config:
    class Relay:
        Hostname = ''
        Password = ''
        Port = 0
        UseSSL = False

    class Slack:
        ApiToken = ''
        BotToken = ''

    class Global:
        # IRC -> Slack channel mapping
        # BTW slack does not have '#' before channel names
        Channels = {
            'irc.freenode.#lineageos': 'lineageos',
            'irc.freenode.#lineageos-dev': 'lineageos-dev',
        }

        # IRC -> Slack private messages mapping
        PrivMsgs = {
            'irc.freenode.': '_freenode_dm_',
        }
